@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.error {
  font-weight: 500;
  color: rgb(230, 42, 42);
}
.input:hover {
  border-color: #3992ff;
}
.input:focus,
.input:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.input-box {
  display: flex;
  align-items: center;
  gap: 1em;
}

.output-box {
  display: flex;
  flex-direction: column;
  text-align: start;
}
